<div id="header">
  <div id="header_top">
    <img style=" position: relative; top: 15px; left: 20px;" <%= image_tag("img/phone_pic.png", :alt => "Phone") %>
    <span style=" position: relative; top: 13px; left: 25px; font: 18px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #fff;">8 917-22-56-187</span>
           
    <% if user_signed_in? %>
    <span style=" position: relative; top: 10px; left: 715px; ">
      <%= link_to "Мой профиль", edit_user_registration_path, :style => "font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #cccccc;"  %>
      </span>
      <span style=" position: relative; top: 10px; left: 720px; ">
      <%= link_to "Выйти", destroy_user_session_path, :method => :delete, :style => "font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #cccccc;"  %>
      </span>
    <% else %>
    
      <%= form_tag(new_user_session_path, :id => "user_new") do %>
        <span style=" position: relative; top: 10px; left: 240px; ">    
          <%= link_to "Регестрация", sign_up_path, :style => "font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #cccccc; text-decoration:underline;" %>
        </span>
        <span style=" position: relative; top: 10px; left: 250px; font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #cccccc;">
          <%= label(:login, "Логин") %>
          <%= text_field_tag 'user[login]', '', :size => 12 %>      
        </span>
        <span style=" position: relative; top: 10px; left: 255px; font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #cccccc;">
          <%= label(:password, "Пароль") %>
          <%= password_field_tag 'user[password]', '', :size => 12 %>
        </span> 
        <span style=" position: relative; top: 7px; left: 255px; ">  
          <%= submit_tag "", :id => "sign_in_submit" %>
        </span>
      <% end %>
    
      <span style=" position: relative; top: 10px; left: 750px; ">
        <%= link_to "Забыли пароль?", recover_password_path, :style => "font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #cccccc;" %>
      </span>
    <% end %>
  </div>
    <%= image_tag("img/logog_header.png", :alt => "Logo", :style => " position: relative; top: 20px; left: 20px;")  %>
    <div id="search">
    <p style=" margin-left: 3px; font: 16px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #8e3085;"><b>Я ищу.</b></p>
    <input id="searchfield" type="text" onblur="clearText(this)" onfocus="clearText(this)" value="" name="tSer" />
    <input id="search_btn_header" type="submit" value="" name="cSer"  />
    </div>
    <div id="cart" style=" position: absolute; float: right; top: 70px; right: 45px;">
    <%= image_tag("img/cart.png", :alt => "Cart") %>
    <p style=" position: relative; top: 10px; left: 5px; font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #660066; text-decoration:underline;">Корзина (1)</p>
    </div>
</div>

